{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}
{#    <h1>Admin Dashboard</h1>#}
<div id="page-inner">
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<h1>New User Registration</h1>
<table class="table table-bordered table-striped table-hover">

<th class="info">User Name</th>
<th class="info">Email</th>
<th class="info">Contact Number</th>
<th class="info">Address</th>
<th class="info">Approve</th>
<th class="info">Reject</th>
{% for us in user  %}

<tr>
    <td>{{ us.user.first_name}}</td>
    <td>{{ us.user.email}}</td>
    <td>{{ us.contact}}</td>
    <td>{{ us.address}}</td>
    <td><a href="approve?id={{ us.user_id}}" class=" btn btn-success">Approve</a></td>
    <td><a href="reject?id={{ us.user_id}}" class=" btn btn-danger">Reject</a></td>

</tr>

    {% endfor %}
</table>
        </div>

{% endblock %}