
{% extends 'base.html' %}
{% load static  %}
{% block content %}
      {% if messages %}
<script>
alert("{{ messages }}")
</script>
{% endif %}
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
{#                        <h3>USERS REGISTRATION</h3>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">USERS REGISTRATION</h2>
        </div>
        <div class="col-lg-8">
          <form   action="" method="post" ENCTYPE="multipart/form-data">
              {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Name</label>
                  <input type="text" id="fname" class="form-control" name="name" required>
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Address</label>
                  <input type="text" id="lname" class="form-control" name="address" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Contact</label>
                  <input type="number" id="fname" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" title="give valid number" class="form-control" name="contact" required >
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Pin</label>
                  <input type="number" id="lname" pattern="[0-9]{4}" title="give valid 4 digit pin" maxlength="4" class="form-control" name="pin" required>
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" class="form-control" name="email" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Username</label>
                  <input type="text" id="fname" class="form-control" name="username" required>
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Password</label>
                  <input type="password" id="lname" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" required>
                </div>
              </div>
                <div class="row form-group">

                <div class="col-md-6">
{#                  <label class="text-black" for="lname">Cv Upload</label>#}
                  <input style="background:white" class="form-control" name="aaa" id="name" type="file"  placeholder = 'image'>
                </div>
              </div>


{#              <div class="row form-group">#}
{#                <div class="col-md-12">#}
{#                  <button type="submit" class="btn btn-primary btn-md text-white">SUBMIT</button>#}
{#                </div>#}
{#              </div>#}



            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">SUBMIT</button>
            </div>
          </form>
        </div>
{#        <div class="col-lg-4">#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-home"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>Buttonwood, California.</h3>#}
{#              <p>Rosemead, CA 91770</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-tablet"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>00 (440) 9865 562</h3>#}
{#              <p>Mon to Fri 9am to 6pm</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="media contact-info">#}
{#            <span class="contact-info__icon"><i class="ti-email"></i></span>#}
{#            <div class="media-body">#}
{#              <h3>support@colorlib.com</h3>#}
{#              <p>Send us your query anytime!</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
{% endblock %}